.App {
  text-align: center;
}

.NumBox{
  max-width: 400px;
  margin: 40px auto 0;
  border: 1px solid black;
  padding:20px;
  text-align: center;
}

.NumBox button{
  display: block;
  margin: auto;
  font-size: 20px;
  padding: 5px 15px;
  
}
.NumBox p {
  display: inline-block;
  align-self: center;
  width: 30px;
  margin: 40px 10px 10px;
  padding: 15px 10px;
  border: 2px solid red;
  border-radius: 50%;
}
